*{
  scroll-behavior: smooth;
}
.no-scroll {
  overflow: hidden;
}
body{
  font-family: 'Forum', cursive;
  background-color: #E5E5E5;
}
img{
  width: 100%;
}
.header {
  padding: 10px 0;
  position: relative;
  margin-bottom: 20px;
}
.header::after{
  position: absolute;
  z-index: -1;
  width: 44vw;
  height: 100vh;
  right: 0;
  top: 0;
  content: '';
  background-color: #272727;
}
.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__menu{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -100%;
  background-color: #272727;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
}
.menu__active{
  left: 0;
}
.menu__list{
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  text-align: center;
  text-transform: uppercase;
}
.menu__item{
  list-style: none;
}
.menu__link{
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}
.header__top-logo {
  width: 33%;
  max-width: 258px;
  height: auto;
}
.logo {
  width: 100%;
}
.lang {
}
.lang-btn {
}
.header__top-control {
}
.control__items {
  list-style: none;
  display: flex;
  column-gap: 8px;
}
.control__item {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.selected {
  background-image: url(../images/selected.svg);
}
.author {
  background-image: url(../images/author.svg);
}
.basket {
  background-image: url(../images/basket.svg);
  position: relative;
}
.basket::after{
  content: '10';
  color: #fff;
  position: absolute;
  right: -9px;
  top: 8px;
  font-size: 10px;
}
.burger__btn{
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.burger__btn span,
.burger__btn span::before,
.burger__btn span::after{
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transition: all 0.4s ease-in-out;
}
.burger__btn span::before {
  content: '';
  top: -7px;
}
.burger__btn span::after {
  content: '';
  top: 7px;
}
.burger__btn-active span{
  background-color: transparent;
}
.burger__btn-active span::before{
  top: 0px;
  transform: rotate(-45deg);
}
.burger__btn-active span::after{
  top: 0px;
  transform: rotate(45deg);
}
.header__main {
}
.title {
  font-weight: 400;
  font-size: 25px;
  line-height: 71px;
  letter-spacing: 0.03em;
  color: #272727;
}
.desc {
  margin-bottom: 50px;
}
.header__main-img {
  display: inline-block;
  width: 70%;
  padding-left: 25%;
}
.header__main-img img{
  width: 100%;
  filter: drop-shadow(5px 5px 4px #272727);
}
.header .container{
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__bottom {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
}
.header__bottom-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.header__bottom-subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
}
.header__bottom-price {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #EFC58B;
  text-shadow: 1px 1px 1px #000;
}

.benefits *{
  z-index: 1;
}
.benefits__card {
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}
.benefits__card::before{
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(39, 39, 39, 0.4);;
}
.men {
  background-image: url(../images/men.png);
}
.women {
  background-image: url(../images/women.png);
}
.card-link {
  font-weight: 300;
  font-size: 18px;
  color: inherit;
  text-decoration: none;
}
.card-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 71px;
  letter-spacing: 0.03em;
}
.card-title::after{
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  border-bottom: solid 1px #fff;
  margin: 0 auto;
}
.on-the-map {
  color: #fff;
}
.search-box {
  background-color: #272727;
  padding: 40px;
}
.search-box input{
  width: 100%;
  border: none;
  border-bottom: solid 1.5px #fff;
  background-color: transparent;
  padding: 10px 0;
}
.search-box__text{
  position: relative;
}
.search-box__text::after{
  content: '→';
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 22px;
}
.search-box input::placeholder{
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
}
.search-box input:focus{
  outline: none;
  color: inherit;
}
.search-box__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 53px;
  letter-spacing: 0.03em;
}
.search-box__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}
.map-box {
  width: 100%;
  height: 100vw;
}
.shop__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
.shop__list-item {
  width: 100%;
  list-style: none;
  background-color: #EDEDED;
}
.product-link {
  padding: 20px;
  text-decoration: none;
  height: calc(100vw - 40px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.product-img {
  width: 70%;
  margin: 0 auto auto;
  object-fit: cover;
}
.product-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
}
.product-subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #757575;
}
.product-price {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #E2B67A;
}
.card5  .product-title, .card5 .product-subtitle{
  color: #fff;
}
.card5{
  background-image: url(../images/product5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.socials {
  background-color: #272727;
  padding: 20px 0;
  color: #fff;
}
.social__title {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.03em;
}
.social__slider {
  padding: 20px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.slider-img {
  height: 100vw;
  object-fit: cover;
}
.social__item {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.slick-dots{
  bottom: -15px;
}
.slick-dots li button::before{
  font-size: 22px;
  color: #656565;
  transition: all .5s ease-in-out;
}
.slick-dots li.slick-active button:before {
  transform: scale(1.5);
  opacity: 1;
  color: #fff;
}

.contacts {
  padding: 20px 15px;
}
.contacts__bg-img {
}
.contacts__info-box:first-child{
  margin-bottom: 25px;
}
.contacts__info-box {
  text-align: center;
}
.info-box__title {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.info-box__phone{
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  color: #959595;
}
.info-box__phone a{
  text-decoration: none;
  color: inherit;
}
.info-box__form input{
  width: 100%;
  border: none;
  border-bottom: solid 1.5px #272727;
  background-color: transparent;
  padding: 10px 0;
}
.info-box__form{
  position: relative;
}
.info-box__form::after{
  content: '→';
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 22px;
  color: #272727;
}
.info-box__form input::placeholder{
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}
.info-box__form input:focus{
  outline: none;
  color: inherit;
}

.footer {
  background-color: #272727;
  padding: 25px 0;
  color: #fff;
}
.footer__menu {
  margin-bottom: 25px;
}
.footer__menu-list {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  gap: 20px;
}
.footer__menu-icon {
  list-style: none;
}
.menu-link {
  text-decoration: none;
  color: inherit;
}
.footer__info {
  text-align: center;
  align-items: center;
}
.footer .logo {
  width: 80%;
  max-width: 257px;
}
.footer__info-wrap {
  padding: 20px 0; 
}
.footer .info-box__phone a{
  color: #c2c2c2;
}
.footer .info-box__form input{
  border-bottom: solid 1.5px #fff;
}
.footer .info-box__form::after{
  color: #fff;
}
.footer .info-box__form input::placeholder{
  color: #c2c2c2;
}
.download__box {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
.download__link{
  max-width: 90px;
}
.back-to-top{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ededed;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  position: fixed;
  right: 20px;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}
.back-to-top svg path{
  fill: #48555B;
}

@media (min-width: 425px){
  .footer__menu-list{
    font-size: 16px;
    line-height: 18px;
  }
  .info-box__title{
    font-size: 14px;
    line-height: 18px;
  }
  .info-box__phone{
    font-size: 18px;
    line-height: 23px;
  }
  .info-box__form {
    max-width: 280px;
    margin: 0 auto;
  }
  .footer__info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  .footer__info-wrap{
    width: 280px;
  }
  .slider-img{
    height: 50vw;
  }
  .shop__list{
    gap: 5px;
    justify-content: space-around;
  }
  .shop__list-item{
    width: 49%;
  }
  .product-link{
    height: 65vw;
    max-height: 360px;
  }
  .card5{
    width: 100%;
  }
  .benefits{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 5px;
    padding: 10px 0;
    max-width: 1440px;
    margin: 0 auto;
  }
  .benefits__card{
    width: 49%;
    height: 50vw;
    max-height: 587px;
  }
  .card-link{
    font-size: 16px;
  }
  .card-title{
    font-size: 28px;
    line-height: 60px;
  }
  .shop{
    padding: 10px 0;
  }
}
@media (min-width: 675px){
  .shop__list{
    gap: 10px;
  }
}
@media (min-width: 768px){
  .contacts__bg-img{
    background-image: url(../images/contacts-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
  }
  .contacts{
    display: flex;
    padding: 0;
  }
  .contacts__info{
    padding: 50px 0;
    margin: 0 auto;
  }
  .contacts__info-box:first-child {
    margin-bottom: 60px;
  }
  .slider-img{
    height: 30vw;
  }
  .on-the-map{
    display: flex;
    height: 400px;
  }
  .map-box{
    width: 50%;
    height: 100%;
  }
  .search-box{
    width: calc(50% - 80px);
  }
}
@media (min-width: 920px){
  .footer{
    padding: 50px 0;
  }
  .footer__menu{
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 50px;
  }
  .logo__link{
    margin-right: auto;
  }
  .footer__info *{
    justify-content: space-between;
    text-align: left;
    justify-content: start;
  }
  .footer__menu-list{
    justify-content: space-between;
  }
}
@media (min-width: 1024px){
  .footer {
    padding: 80px 0;
  }
  .footer__menu {
    margin-bottom: 90px;
  }
  .contacts__info{
    padding: 80px 0;
    width: 280px;
  }
  .slider-img{
    height: 300px;
  }
  .shop{
    padding: 20px 0;
  }
  .on-the-map{
    margin: 0;
  }
  .shop__list{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 1440px;
  margin: 0 auto;
  }
  .shop__list-item{
    width: 100%;
  }
  .card5 .product-link{
    max-height: 780px;
    height: 100%;
  }
  .card1 { grid-area: 1 / 1 / 2 / 2; }
  .card2 { grid-area: 1 / 3 / 2 / 4; }
  .card3 { grid-area: 2 / 1 / 3 / 2; }
  .card4 { grid-area: 2 / 3 / 3 / 4; }
  .card5 { grid-area: 1 / 2 / 3 / 3; }
  .search-box {
    width: calc(50% - 200px);
    padding: 100px 100px;
  }
  .on-the-map{
    height: 500px;
  }
  .card-link{
    font-size: 24px;
    line-height: 31px;
  }
  .card-title{
    font-size: 64px;
    line-height: 71px;
    margin-bottom: 23px;
  }
  .card-title::after{
    margin: 23px auto 0;
  }
  .benefits{
    padding: 20px 0;
  }
}
@media (min-width: 1200px){
  .contacts__info{
    padding: 180px 0;
  }
  .info-box__title{
    margin-bottom: 30px;
  }
  .contacts__info-box:first-child{
    margin-bottom: 110px;
  }
  .slider-img{
    height: 25vw;
  }
  .back-to-top{
    right: 40px;
  }
  .socials{
    padding: 100px 0;
    margin: 0;
  }
  .social__item{
    justify-content: start;
  }
  .social__title{
    margin-bottom: 80px;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 60px;
  }
  .slick-slide{
    margin: 0 10px;
  }
  .slick-dots{
    width: 160px;
    bottom: -90px;
    right: 260px;
  }
  .slick-arrow{
    top: auto;
    bottom: -127px;
    width: 50px;
    height: 50px;
  }
  .slick-prev{
    left: auto;
    right: 452px;
  }
  .slick-next{
    right: 174px;
  }
  .slick-prev:before, .slick-next:before{
    font-size: 50px;
  }
  .search-box {
    width: calc(50% - 320px);
    padding: 170px 160px;
  }
  .on-the-map{
    height: 600px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .benefits{
    padding: 20px 0;
  }
}
@media (min-width: 1440px){
  .slider-img{
    height: 385px;
  }
}